body {
    font-size: 18px;
}
header,
footer {
    background-color: dodgerblue;}

.site-title {
    color:whitesmoke;}

#my-image {
    box-shadow: 0 0 2px 1px black;
}
.list {
    list-style-type: upper-latin;
}
